# root directory of your blog
siteLocalDir: "/home/mischka/projects/mischka.me"
# URL to your blog
siteUrl: "http://www.mischka.me/"

sitePostsDir: "src/pages/posts/{year}/{month}/"
fileExtension: ".md"
