.site-header {
	min-height: 3rem;
	position: relative;
	background-color: var(--header-background-color);
	margin: 0.25em 0 1em;
}

.site-title {
	font-size: 1.6rem;
	line-height: 3rem;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;

	&,
	&:visited {
		color: var(--grey-color-dark);
	}
}

.site-nav {
	float: right;
	line-height: 3rem;

	& .menu-icon {
		display: none;
	}

	& .page-link {
		color: var(--text-color);
		line-height: var(--base-line-height);

		&:not(:first-child) {
			margin-left: 1.5rem;
		}
	}
}

.site-footer {
	background-color: var(--footer-background-color);
}

.footer-heading {
	font-size: 1.5rem;
	margin-bottom: calc(var(--spacing-unit) / 2);
}

.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0;
}

.social-media-item {
	& .icon,
	& .icon img {
		width: 1em;
		height: 1em;
	}

	& .username {
		margin-left: 0.5em;
	}
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	& .column {
		display: flex;
		flex-direction: column;
	}
}

.page-content {
	background-color: var(--content-background-color);
}

.profile-photo {
	width: 150px;
	float: left;
	margin-right: var(--spacing-unit);
}

.post-list {
	margin-left: 0;
	list-style: none;

	& > li {
		margin-bottom: var(--spacing-unit);
	}
}

.post-meta {
	font-size: 0.75em;
	color: var(--grey-color);
}

.post-link {
	display: block;
	font-size: 1.5rem;
}

.post-header {
	margin-bottom: var(--spacing-unit);
}

.post-title {
	font-size: 2.5rem;
	letter-spacing: -1px;
	line-height: 1;
}

@media (--on-desktop) {
	.post-title {
		font-size: 2rem;
	}
}

.post-content {
	margin-bottom: var(--spacing-unit);

	& p {
		font-family: var(--post-font-family);
	}

	& img,
	& figure,
	& div {
		margin: var(--spacing-unit) 0;
	}

	& figure {
		& img {
			margin: 0;
		}

		& figcaption {
			margin: 0.5rem;
			font-style: italic;
		}
	}
}
