.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;

	& .column {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		width: 300px;
	}
}

.profile-photo {
	width: 300px;
	float: left;
	margin-right: 1em;
	border-radius: 50%;
}

.page-content {
	background-color: var(--content-background-color);
}

.post-list {
	margin-left: 0;
	list-style: none;

	& > li {
		margin-bottom: var(--spacing-unit);
	}

	& h2 {
		font-size: 1.35em;
		line-height: 1;
	}
}

.post {
	& .blog-link {
		display: block;
		font-size: 0.75em;
		margin-bottom: 2em;
	}
}

.post-link {
	display: inline-block;
}

.post-meta {
	font-size: 0.75em;
	color: var(--grey-color);
}

.post-header {
	margin-bottom: var(--spacing-unit);
}

.post-title {
	font-size: 2.5rem;
	letter-spacing: -1px;
	line-height: 1;
}

@media (--on-desktop) {
	.post-title {
		font-size: 2rem;
	}
}

.post-content {
	margin-bottom: var(--spacing-unit);

	& p {
		font-family: var(--post-font-family);
	}

	& img,
	& figure,
	& div {
		margin: var(--spacing-unit) 0;
	}

	& figure {
		& img {
			margin: 0;
		}

		& figcaption {
			margin: 0.5rem;
			font-style: italic;
		}
	}
}
