:root {
	--base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	--heading-font-family: 'Lato', sans-serif;
	--post-font-family: 'Source Serif Pro', serif;
	--base-font-size: 1.5rem;
	--small-font-size: 1.25rem;
	--base-line-height: 1.67;
	--spacing-unit: 2rem;
	--text-color: rgba(0, 0, 0, 0.85);
	--background-color: #fefefe;
	--content-background-color: #fdfdfd;
	--header-background-color: #fefefe;
	--footer-background-color: #fefefe;
	--brand-color: #ff8a1f;
	--grey-color: rgba(0, 0, 0, 0.5);
	--grey-color-light: rgba(0, 0, 0, 0.35);
	--grey-color-dark: rgba(0, 0, 0, 0.65);
	--spacing-width: 2rem;
	--content-width: 800px;
}

@custom-media --on-desktop (min-width: 800px);
